<!--pages/search/search.wxml-->
<view class="search">
  <view class="search-bar">
    <view class="search-wrap">
        <icon type="search" size="16" class="icon-search" />
        <input type="text" placeholder="请输入搜索内容" class="search-input" name="searchKeyword" bindinput="bindKeywordInput" value="{{searchKeyword}}" />
    </view>
    <view class="search-cancel" bindtap="keywordSearch">搜索</view>
  </view>
  <view class="search-result">
    <scroll-view scroll-y="true" bindscrolltolower="searchScrollLower">
      <view class="result-item" wx:for="{{searchSongList}}" wx:key="unique"  data-data="{{item}}" >
        <view class="icon{{item.isonly=='0' ? ' nocopyright' : ''}}"></view>
        <text class="title">{{item.songname}}</text>
        <view class="subtitle">
          <text wx:for="{{item.singer}}" wx:key="unique">{{item.name}}</text>
        </view>
      </view>
      <view class="loading" hidden="{{!searchLoading}}"><image src='../images/loading.gif'></image>正在载入更多...</view>
      <view class="loading complete" hidden="{{!searchLoadingComplete}}">已加载全部</view>
    </scroll-view>  
  </view>
</view>

